.title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.textContainer {
  line-height: 1;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.time {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container {
  flex-grow: 1;
  height: "auto";
  overflow: "auto";
  padding-bottom: 0;
  padding-right: "5rem";
}
.textField {
  width: 75px;
  margin-left: 1rem; /* Assuming 'spacing(1)' is 1rem */
  margin-top: 0;
  margin-bottom: 0;
  height: 4.875rem; /* Assuming 'spacing(4.875)' is 4.875rem */
}

.locationSelector {
  margin-left: 1rem; /* Assuming 'spacing(1)' is 1rem */
  height: 4.875rem; /* Assuming 'spacing(4.875)' is 4.875rem */
}

.shortButtonText {
  min-width: 800px;
  display: none;
}

.button {
  padding-left: 1rem; /* Assuming 'spacing(1)' is 1rem */
  width: 10rem; /* Assuming 'spacing(10)' is 10rem */
  max-width: 800px;
  width: 2rem; /* Assuming 'spacing(2)' is 2rem */
  font-size: 0.75rem;
}

.selectedButton {
  background: #3f51b5; /* Replace with your desired color */
  color: #fff; /* Replace with your desired color */
  border: 1px solid #3f51b5 !important;
  border-left: 1px solid #fff !important;
}

.selectedButton:first-of-type {
  border-left: 1px solid #fff !important;
}

.flexibleSpace {
  margin: 0 auto 0 0;
  display: flex;
  align-items: center;
}

.weekendCell {
  background-color: rgba(0, 0, 0, 0.04); /* Replace with your desired color */
}

.weekendCell:hover {
  background-color: rgba(0, 0, 0, 0.04); /* Replace with your desired color */
}

.weekendCell:focus {
  background-color: rgba(0, 0, 0, 0.04); /* Replace with your desired color */
}

.weekEnd {
  background-color: rgba(0, 0, 0, 0.06); /* Replace with your desired color */
}
