/* Home.css */

/* Styles pour le Header */
.header-wrapper {
  position: fixed;
  top: 0;
  background-color: #3f51b5;
  margin-left: 200px;
  right: 0;
  height: 5rem; /* Ajustez la hauteur du Header selon vos besoins */
  z-index: 9999;
}

/* Styles pour le NavBar */
.nav-bar {
  position: fixed;
  top: 5rem;
  left: 0;
  bottom: 0;
  width: 200px;
  z-index: 999;
}

.content {
  padding-top: 5rem;
  margin-left: 200px; /* Ajustez la marge gauche pour éviter la superposition avec le NavBar */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-container {
  margin-bottom: 2rem;
}
