.App {
  min-height: 100vh;
  margin: 0rem auto;
}
.Basic-container {
  position: relative;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 10rem;
  padding-right: 10rem;
  /**/
  background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.4) 5%,
      rgba(117, 19, 93, 0)
    ),
    url("../assets/meeting.jpg");
  background-repeat: no-repeat;
  min-height: 100vh;
}
.image {
  width: 350px; /* Set the width of the image */
  height: 350px; /* Set the height of the image */
  margin-top: 100px;
}
.logo {
  max-width: 100%; /* Pour que l'image ne dépasse pas de la container */
  height: auto; /* Pour conserver les proportions de l'image */
}
.Basic-container {
  position: relative;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: auto;

  padding-left: 17rem;
  padding-right: 0rem;
  /**/
}
.title {
  margin-top: 90px;
}
.Left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200 px;
}

.Right-section {
  max-width: 200px;
  /*line-height: 5rem;*/
}

.primary-heading {
  font-size: clamp(1rem, 2vw, 2.5rem);
  letter-spacing: 0.3rem;
  color: #4c4c4c;
  /* line-height: 5rem; */
  max-width: 600px;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
}

.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
}
.home-image-section {
  max-width: 1000px;
}
